body{
  background-color: black;
  color: bisque;
}

header{
  width: 100%;
  text-align: center;
  font-size: 23px;
  font-family: 'Fugaz One', cursive;
  background-color:  #0c023d;
  color: blanchedalmond;
  margin-bottom: 25px;
}

#header-title {
  text-align: center;
  /* margin-right: 150px; */
}

h1 {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

header img{
  width: 150px;
  display: inline-block;
  border: #0c023d, solid;
}
header img.flipped{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
  
nav{
  float: right;
  width: 115px;
  padding: 20px;
  padding-top: 30px;

}

nav a {
  color: rgb(207, 88, 20);
  display: block;
}

section {
  text-align: center;
  padding-top: 20px;
}

#question {
  margin: 0 auto;
  width: 70%;
  background-color: #1766F1;
  font-size: 150%;
  border: 10px ridge white;
  border-radius: 25px;
  padding: 10px;
}

#answers {
  margin-top: 25px;
}

span {
  font-size: 32px;
  vertical-align: middle;
}

#answersAB button, #answersCD button {
  width: 300px;
  height: 80px;
  margin: 5px 20px 10px 10px;
  font-size: 20px;
  background-color: blueviolet;
  color: blanchedalmond;
  border-radius: 15px;
  vertical-align: middle;
}

#answersAB button:hover, #answersCD button:hover {
  background-color: #1766F1;
  border: 3px solid white;
}

#timer {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 10px;
  font-size: 40px;
}

.hidden-element {
  display: none;
}

#next-question button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: green;
  color: blanchedalmond;
  border: 3px solid white;
  border-radius: 5px;
  margin-top: 10px;
}

#next-question button:hover {
  background-color: rgb(103, 168, 5);
}

#answers #incorrect {
  background-color: red;
}


#answers #correct {
  background-color: green;
}

#answersAB .no-hover, #answersCD .no-hover {
  pointer-events: none;
}

#levelIndicator {
  margin: 0 auto;
  text-align: center;
  color: blueviolet;
}

/* #play-again-button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: green;
  color: blanchedalmond;
  border: 3px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
} */